@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<QuestionnaireMVC.Models.Question>
    
    
    
    
    
    
    
    
    
    }
<div class="pb-3 mb-3" >
    <h2 class="m-4">Global Statistics</h2>
    <h4>1 - Average user votes</h4>
    <div class="d-flex flex-wrap">
        @for (int i = 0 ; i < @Model.Count(); i++)
        {
            <div class="h-25 col-6">
                <h5 style="height: 100px">Question : @Model.ToList()[i].Title</h5>
                <div class="justify-content-center">
                    @await Html.PartialAsync("../Partial/QuestionStatistics/QuestionStatistics.cshtml", i+1)
                </div>
            </div>
        }
    </div>


</div >