@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        Welcome to Surfey
    </div>

    <a class="text-white" href="/User"><button class="btn-primary mt-4 w-25 p-2 rounded">Start New Survey</button></a>
</div>
